{% extends 'base.html' %}

{% block contenido %}

<div class="d-flex flex-wrap mt-5 justify-content-between">
{% for e in excursiones %}
    <div class="card me-2 mb-5" style="width: 18rem;">
        <img src="https://via.placeholder.com/150" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{ e.nombre }}</h5>
            <p class="card-text">{{ e.descripcion }} </p>
            <a href="#" class="btn btn-primary">Más información</a>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}